<div>
  <h3 class="text-center text-weather">ПОГОДА</h3>
  <div class="horizontal-center input-block">
    <div class="option-select">
      <ng-select
        (search)="onInput($event)"
        (change)="onEnter($event)">
        <ng-option *ngFor="let city of cities" [value]="city.pos">{{city.name}}
        </ng-option>
      </ng-select>
    </div>
    <div *ngIf=!isValid>Введите минимум 3 символа, либо попробуйте изменить запрос</div>
  </div>
  <div *ngIf="pos?.length!=0">
    <app-view [position]="pos"></app-view>
  </div>

</div>
