.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.text-weather{
  font-size: 30px;
  color: white;
  font-family: serif;
}
.input-block {
  width: 30em;
  background-color: #F0F0F0FF;
  border-radius:5px;
}

.text-center{
  text-align: center;
}
