.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.text-weather {
  font-size: 30px;
  color: black;
  font-family: Arial, sans-serif;
}

.input-block {
  width: 30em;
}

.text-center {
  text-align: center;
}

.option-select {
  margin-top: 40px;
  display: block;
}
