<swiper
  [cssMode]="true"
  [navigation]="true"
  [pagination]="true"
  [mousewheel]="true"
  [keyboard]="true"
  class="mySwiper"
>
  <ng-template swiperSlide *ngFor="let entry of weather | keyvalue: originalOrder">
    <div class="weather-content-block">
      <div class="weather-head">{{entry.key}}</div>
      <div class="weather-content">
        <div class="weather-item" *ngFor="let periodForecast of entry.value">
          <div>{{periodForecast.time}}</div>
          <div><img src="http://openweathermap.org/img/wn/{{periodForecast.icon}}@2x.png" alt="снег"></div>
          <div>{{periodForecast.temp}} &deg;C</div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
