<swiper
  [slidesPerView]="1"
  [pagination]="{
      clickable: true
    }"
  class="mySwiper"
>
  <ng-template swiperSlide *ngFor="let entry of weather | keyvalue: originalOrder">
    <div class="weather-content-block">
      <div class="weather-head">{{entry.key}}</div>
      <div class="weather-content">
        <div class="weather-item" *ngFor="let periodForecast of entry.value">
          <div>{{periodForecast.time}}</div>
          <div><img src="assets/img/icon-snow.png" alt="снег"></div>
          <div>{{periodForecast.temp}}</div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
